<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Komet Sales</title>
</head>
<body>

  <div id="app">
    <v-app>
      <input @change="upload" type="file" id="file" visbility="hidden" accept=".csv" ref="fileupload" />
      <v-btn
        fixed
        fab
        bottom
        right
        large
        color="grey lighten-1"
        @click="selectFile"
        :disabled="loading"
      >
        <v-icon>fa-upload</v-icon>
      </v-btn>

      <!-- mensajes de la aplicación -->
      <v-snackbar
        top
        center
        v-model="snackbar.show"
        multi-line
        :color="snackbar.color"
        :timeout="10000"
      >
        <div v-html="snackbar.message"></div>
        <v-btn text @click="snackbar.show = false">
          Ocultar
        </v-btn>
      </v-snackbar>

      <!-- detalles del empleado -->
      <v-dialog v-model="showDialog" v-if="selectedSeller" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar dark color="primary">
            <v-spacer></v-spacer>
            <v-toolbar-title class="text-center">{{selectedSeller.name}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text @click="showDialog = false">Volver</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-container>
            <v-row align-content="center" justify="center" class="text-center">
              <v-col cols="6">
                <v-avatar size="200">
                  <v-img :src="selectedSeller.avatar"></v-img>
                </v-avatar>
              </v-col>
            </v-row>
            <v-row class="text-center">
              <v-col cols="12" sm="6">
                <span class="overline">Correo electrónico:</span>
                <a :href="'mailto:' + selectedSeller.email">{{selectedSeller.email}}</a>
              </v-col>
              <v-col cols="12" sm="6">
                <span class="overline">Porcentaje de comision:</span>
                {{selectedSeller.commissionPercentage}}%
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <h4 class="text-center">Productos Vendidos:</h4>
                <v-simple-table fixed-header height="600px">
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">Nombre Producto</th>
                        <th class="text-right">Costo</th>
                        <th class="text-right">Comision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-if="sellerSelectedSales.length > 0" v-for="sale in sellerSelectedSales" :key="sale.id">
                        <td><strong>{{ sale.productName }}</strong></td>
                        <td class="text-right">{{sale.amount}}$</td>
                        <td class="text-right">
                          {{sale.amount * selectedSeller.commissionPercentage / 100 }}$
                        </td>
                      </tr>
                      <tr v-if="sellerSelectedSales.length < 1">
                        <td colspan="3" class="text-center">
                          <h3>¡Sin ventas!</h3>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot v-if="sellerSelectedSales.length > 0">
                      <tr>
                        <td colspan="3" class="text-right">
                          <strong>Total: {{salesCommission}}$</strong>
                        </td>
                      </tr>
                    </tfoot>
                  </template>
                </v-simple-table>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-dialog>

      <!-- Inicio: Lista de Vendedores -->
      <v-app-bar app dark color="primary">
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="caption">menu</span>
        <v-spacer></v-spacer>
        <v-toolbar-title>Komet Sales Test</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-progress-linear
          :active="loading"
          :indeterminate="true"
          absolute
          bottom
          color="primary lighten-4"
        ></v-progress-linear>
      </v-app-bar>

      <!-- Navegacion -->
      <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
      >
        <v-list
          nav
          dense
        >
          <v-list-item-group>
            <v-list-item @click="getSellers">
              <v-list-item-icon>
                <v-icon>fa-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item>

            <v-list-item @click="selectFile" :disabled="loading">
              <v-list-item-icon>
                <v-icon>fa-upload</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Cargar Ventas</v-list-item-title>
            </v-list-item>

          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <!-- Contenido -->
      <v-content class="mt-6">
        <v-container fluid>
          <h2 class="text-center">
            Lista de Vendedores
          </h2>
          <div class="text-center">
            <span class="caption">cambiar vista:</span>
            <v-btn-toggle v-model="gridView" rounded mandatory dense>
              <v-btn value="table" small :disabled="loading">
                <v-icon small>fa-table</v-icon>
              </v-btn>

              <v-btn value="cards" small>
                <v-icon small>fa-columns</v-icon>
              </v-btn>
            </v-btn-toggle>
          </div>
          <v-simple-table fixed-header height="500px" v-if="gridView === 'table'">
            <template v-slot:default>
              <thead>
                <tr>
                  <th></th>
                  <th class="text-left">Nombre Completo</th>
                  <th class="text-left">Correo Electrónico</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="seller in sellers" :key="seller.name">
                  <td>
                    <v-avatar class="my-2">
                      <img
                        small
                        :src="seller.avatar"
                        :alt="seller.name"
                      >
                    </v-avatar>
                  </td>
                  <td>{{ seller.name }}</td>
                  <td>
                    <a :href="'mailto:' + seller.email">{{ seller.email }}</a>
                  </td>
                  <td class="text-right">
                    <v-btn small color="secondary" @click="selectSeller(seller)">
                      Detalles
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-row v-if="gridView === 'cards'">
            <v-col cols="12" sm="6" md="4" v-for="seller in sellers" :key="seller.name">
              <v-card  @click="selectSeller(seller)">
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title
                      class="headline"
                      v-text="seller.name"
                    ></v-card-title>

                    <v-card-subtitle v-text="seller.email"></v-card-subtitle>
                  </div>

                  <v-avatar class="ma-3" size="85">
                    <v-img :src="seller.avatar"></v-img>
                  </v-avatar>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./scripts/index.js"></script>
</body>
